$mainColor : #FFEBB7;
$subColorBlue : #B5E1F9;
$subColorPurple : #D1CFFF;
$subColorPink : #F9D6D6;
$subColorGreen : #85BD91;
$subColorSoftBlue : #CDE6F9;
$pointColorPink : #FF7682;
$pointColorOrange : #FF9268;
$pointColorPurple : #A374C8;
$pointColorGreen : #8AE89F;
$pointColorBlue : #77C5FF;
$fontColorBlack : #333333;
$fontColorGray : #989797;
$fontColorSoftGray : #F2F2F2;
$fontColorDarkBeige : #B2A569;


@mixin maninTitile{
    color:$mainColor;
    font-size:56px;
    font-weight: 600;

}

#mainTitle{
    h2{
        @include maninTitile;
    }
}

#sns {
    .snsImg{
      position: relative;
      width: 100%;
      height: 100%;
      &::after {
          content: "";
          background: url(../img/instagram2.svg) no-repeat;
          width: 13px;
          height: 13px;
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
      }
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
      }
    }
    }
// 믹스인 인클루드로 호출하기